body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    position: relative;
}

h1, h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.button {
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 20px; 
    text-align: center;
    width: 80%; 
    padding: 5px 10px; 
    border: 2px solid black;
    /*
    
    margin: 0 10px; */
}

.sidebar .button {
    width: 70%; 
    padding: 10px 20px; 
    margin: 5px 10px;
}



.button:hover {
    background-color: #555;
    color: white; /* Change text color to white on hover */
    border-color: #555; /* Change border color to match background on hover */
}



#head {
    display: flex;
}

#sign {
    margin-left: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
}


img {
    width: 70%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.button-container {
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

#main-content {
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding-top: 10px; /* Adjust the top padding as needed */
    padding-bottom: 10px; /* Adjust the bottom padding as needed */
    padding-left: 25px; /* Adjust the left padding as needed */
    padding-right: 25px; /* Adjust the right padding as needed */
    border: 1px solid black; /* Example border */
    border: 1px solid black; /* Example border */
      
}

#std {
    margin-top: 15px;
}